h1{
    background-color: rgb(236, 236, 236);
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(75, 74, 74);
}