@charset "UTF-8";

*{               
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #1B7F7A, #0897B4,#4CABA6);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0e3b3a;
}

h1{
    color: rgb(163, 140, 105);
    text-shadow: 2px 2px 4px rgb(49, 41, 29);
}

h2{
    color:rgb(102, 88, 72)
}

